.form-control {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.form-control label {
    color: #1D8A99;
    font-size: 1.5rem;
    font-weight: bolder;
}

.form-control input {
    background-color: #FCFFFD;
    color: #1D8A99;
    border: 1px solid #C0FDFB;
    font-size: 1rem;
    padding: 0.8rem;
    margin-top: 0.5rem;
}


.invalid label {
    color: red;
}

.invalid input {
    border-color: red;
}
