.input-section {
    background-color: #FCFFFD;
    width: 45rem;
    padding: 1rem;
    max-width: 90%;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.59); 
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.59);
    border-radius: 1rem;
    margin: 5rem auto;
}

.items-section {
    width: 45rem;
    max-width: 90%;;
    margin: auto;
}

.nothing {
    text-align: center;
    font-size: 2rem;
}